// Include Reset as a partial
@import 'reset';
@import 'mixins';

body, html {height: 100%; margin: 0; padding: 0;}

body {
  background: #2c3239; 
  font-size: 12px;
  &.editor {background: none;}
}


// login styles
header {
  &.blank {
    background: #16181c;
    width: 100%;
    line-height: 4em;
    color: #e2e4e8;
    font-weight: 700;
    letter-spacing: 0.2em;
    @include border-top-radius(5px);
  }
}

.login {
  text-align: left;
  margin: 0 auto;
  width: 320px;
  background: #1d2126;
  padding: 3em 2em 2em 2em;
  color: #FFF;
  @include border-bottom-radius(5px);
  label {
    line-height: 2em;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  input {
    margin-bottom: 1em;
  }
}

.block {
  text-align: center;
  height: 100%;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .centered {
    display: inline-block;
    vertical-align: middle;
  }
}

// project selection styles

.button {
  display: inline-block;
  border: 1px solid #070809;
  color: #f5f6f7;
  background: #16181c;
  text-align: center; 
  box-shadow: inset 0 1px 0 0 #4a525f;
  @include transition(all .3s ease);  
  &:hover {
    background-color: #3CA2B9;
  }
}

.project { padding: 25px;}

.tooltype { 
  padding: 10px; 
  height: 31px;
  width: 30px;
  color: #fff;
  text-indent: -9999px;
  &:hover {
    color: #3CA2B9;
    -moz-box-shadow: 0 0 5px #3CA2B9;
    -webkit-box-shadow: 0 0 5px #3CA2B9;
    box-shadow: 0px 0px 5px #3CA2B9;
  }
}



// begin main page styles

.content_wrap {
  min-width: 800px;
  height: 100%;
}

.l_sideboard, .r_sideboard {
  background: #16181c;
  width: 240px;
  height: 100%;
  z-index: 100;
  position: fixed;
  text-align: center;
  color: #FFF;
  padding: 20px;
  input {
    margin-bottom: 1em;
  }
}

.r_sideboard {
  right: 0;
}

.main_container {
  position: relative;
    // float: left;
  z-index: 1;
  top: 0;
  width: 100%;
  min-width: 640px;
  height: 100%;
  text-align: center;
}


.tools {
  position: fixed;
  z-index: 200;
  height: 60px;
  padding-top: 10px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: #1D1F25;
  border-top: 1px solid #2c3139;
}

.site_settings   { background: url(/images/full/icon_settings.png) 0 0 no-repeat; margin-right: 6em; }
.add_image      { background: url(/images/full/icon_image.png) 0 0 no-repeat; }
.add_para       { background: url(/images/full/icon_para.png) 0 0 no-repeat; }
.add_link       { background: url(/images/full/icon_link.png) 0 0 no-repeat; }
.add_button       { background: url(/images/full/icon_button.png) 0 0 no-repeat; }
// .add_separater  { background: url(/images/full/icon_separater.png) 0 0 no-repeat; }
.add_video      { background: url(/images/full/icon_video.png) 0 0 no-repeat; }
.add_other      { background: url(/images/full/icon_others.png) 0 0 no-repeat; }
.site_export    { background: url(/images/full/icon_export.png) 0 0 no-repeat;margin-left: 6em; }


.email {
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
  // margin-top:20px;
  // width: 600px;
  // border: 1px solid #CFD3D9; // border wrapping email
  color: #222;
  tr {position: relative;}
}



// vidual table default styles


.table_header, .table_footer, .table_preheader, .table_postfooter {
  position: relative; 
  min-height: 100px;
  tr {position: relative;}
}

.table_nostructure {min-height: 200px;}


.table_header, .table_footer, .table_preheader, .table_postfooter, .table_nostructure {
  position: relative;
  // border: 1px solid transparent;
  &:hover {
    border: 1px solid #3CA2B9;
    .options {
      display: block;
    }
  }
}

.option-cell {
  height: 1px; 
  padding: 0; 
  margin: 0; 
  border: 0;
}

.options {
  display: none;
  position: absolute;
  top: 0;
  right: -1px;
  width: 67px; 
  height: 20px; 
  &.editing {width: 44px;}
}

.structure, .editing {
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;

  }
}

._add     {background: #3C9EC1 url(/images/full/icon_edit_transparent.png) 0 0 no-repeat;}
._edit    {background: #3C9EC1 url(/images/full/icon_edit_transparent.png) 0 0 no-repeat;}
._options {background: #3C9EC1 url(/images/full/icon_options_transparent.png) 0 0 no-repeat;}

.table_preheader, .table_postfooter{
  min-height: 40px;
  td {vertical-align: middle;}
}

.email table:nth-child(even) {
  background: lighten(#4A525F, 50%);
}


// Individual Item Options

.table_structured {
  .item {
    position: relative;
    &:hover {
      border: 1px solid red;
      .editing {display: block;}
    }
  }
}

















